body {
	background-image: url("wap.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 1266px 700px;
	margin: 0;
	width: 80%;
	margin-right: auto;
	margin-left: auto
}
header h1{
	color: #708090;
	font-family: "Honey";
	font-size: 470%;
	text-align: center; 
	line-height: 200%;
}

h2{
	color: black;
	font-family: "Kembara Cinta";
	font-size: 200%;
	text-align: center; 
}
.topnav {
	background-color:transparent;
	overflow: hidden;
  }
.topnav a:hover:not(.active) {
  background-color: #708090;
  color: black;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
	float: left;
	display: block;
	color: black ;
	text-align: center;
	padding: 14px 70px;
	text-decoration: none;
	font-size: 18px;
}
 
  
  /* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
	display: none;
}
.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: right;
  width: 33.3%;
  margin-bottom: 26px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card img{
	width: 100%;
}
.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}
.container p{
	color: black;
}
footer {
  background-color: transparent;
  padding: 1px;
  text-align: center;
  color: black;
}
