body {
	background-image: url("homewap.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 1266px 700px;
	margin: 0;
	width: 80%;
	margin-right: auto;
	margin-left: auto
}
header h1{
	color: #2F4F4F;
	font-family: "Honey";
	font-size: 470%;
	text-align: center; 
	line-height: 200%;
}

h2{
	color: #FFF0F5;
	font-family: "Amelia Sophia";
	font-size: 200%;
	text-align: center; 
}
.topnav {
	background-color:#BC8F8F;
	overflow: hidden;
  }
.topnav a:hover:not(.active) {
  background-color: #FFE4C4;
  color: black;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
	float: left;
	display: block;
	color: black ;
	text-align: center;
	padding: 14px 71.5px;
	text-decoration: none;
	font-size: 18px;
	border:1px solid #bbb;
}
 
  
  /* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
	display: none;
}
.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
}
.button{
	background-color: transparent;
	border: none;
	color: #2F4F4F;
	padding: 16px 32px;
	text-align: center;
	font-size: 30px;
	margin: 4px 2px;
	transition: 0.3s;
	cursor: pointer;
	width: 100%;
	font-family:"Conformable";
}

footer {
  background-color: #BC8F8F;
  padding: 1px;
  text-align: center;
  color: white;
}
